# Python
__pycache__/
*.pyc
venv/
.venv/
env/

# Env vars
.env

# OS
.DS_Store

# IDE
.vscode/*
!.vscode/launch.json
!.vscode/settings.json
.idea/

# Node (for later, once frontend is set up)
node_modules/
.next/
dist/